html{
    height: 100% !important;
}
body{
    height: 100%;
}
.table>tbody>tr>td{
    border: solid rgb(50,50,50) 20px;
}
.gameBoardBox{
    /*background-color: red;*/
    height: 15em;
    width: 15em;
    text-align: center;
    background: no-repeat;
    background-size: contain;
}
.error{
    color: red;
    font-weight: bold;
    text-decoration: underline;
}
/* 'X' */
.cross{
    background-image: url("../images/cross.png");
}
/* 'O' */
.circle{
    background-image: url("../images/circle.png");
}
.crossWin{
    background-image: url("../images/cross-win.png");
}
.circleWin{
    background-image: url("../images/circle-win.png");
}




/*------- Styles for each box --------*/
/*Top Boxes & Mid Boxes*/
/*.table>tbody>tr>.topLeft,.midLeft,*/
/*.table>tbody>tr>.midLeft{*/
    /*border-bottom: solid black 30px;*/
    /*border-right: solid black 30px;*/
    /*border-radius: 30px;*/
/*}*/
/*.table>tbody>tr>.topCenter,.bottomCenter,*/
/*.table>tbody>tr>.midCenter{*/
    /*border-bottom: solid black 30px;*/
    /*border-radius: 30px;*/
/*}*/
/*.table>tbody>tr>.topRight,.bottomRight,*/
/*.table>tbody>tr>.midRight{*/
    /*border-bottom: solid black 30px;*/
    /*border-left: solid black 30px;*/
    /*border-radius: 30px;*/
/*}*/
/*!*Bottom Boxes*!*/
/*.table>tbody>tr>.bottomLeft{*/
    /*border-right: solid black 30px;*/
    /*border-radius: 30px;*/
/*}*/
/*.table>tbody>tr>.bottomCenter{*/
/*}*/
/*.table>tbody>tr>.bottomRight{*/
    /*border-left: solid black 30px;*/
    /*border-radius: 30px;*/
/*}*/
/*--------------------------*/

